extends layout.pug

block head
  title Home
    

block content
  each user in users
    h1  username: #{user.username}
    h1  gender: #{user.gender}
    h1  password: #{user.password}
    h1  agree: #{user.agree}
    br
    hr