extends layout.pug

block head
  title Form
    

block content
 form(action = '/form', method='POST')
  | username:
  br
  input(type='text', name='username', required='')
  br
  br
  |   gender:
  br
  input(type='text', name='gender', required='')
  br
  br
  |   password:
  br
  input(type='text', name='password', required='')
  br
  br
  |   agree:
  input(type='radio', name='agree')
  br
  br
  input(type='submit', value='Submit', required='')